---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Contact">
  <div class="flex flex-col items-center justify-center min-h-[50vh] text-center mt-10 md:mt-20">
    <h2 class="font-normal text-xs tracking-[6px] uppercase mb-16 opacity-60">Contact</h2>
    
    <div class="space-y-8 text-xl lg:text-2xl font-light tracking-[1px]">
      <a href="mailto:yavuzyekvucut@gmail.com" class="block hover:opacity-50 transition-opacity duration-300">
        yavuzyekvucut@gmail.com
      </a>
      <a href="mailto:myyekvucut@anadolu.edu.tr" class="block hover:opacity-50 transition-opacity duration-300">
        myyekvucut@anadolu.edu.tr
      </a>
    </div>
  </div>
</BaseLayout>
